In [1]:
import pandas as pd

symbol = ["A", "C", "A", "B", "A", "B"]
number = [59, 9, 19, 14, 6, 77]

data = {"s": symbol,"n": number}

df = pd.DataFrame(data)
df

    n  s
0  59  A
1   9  C
2  19  A
3  14  B
4   6  A
5  77  B

In [2]:
df.loc[df.s == "A"]

    n  s
0  59  A
2  19  A
4   6  A